

  <div class="section no-pad-bot deep-red " id="index-banner">
    <div class="container ">
      
      <p class="flow-text">
      <h2 class="text_h center header cd-headline letters type ">
      <span class="deep-red">CRECE es:</span> 
      <span class="cd-words-wrapper waiting">
        <b class="is-visible">Confiable</b>
        <b>Seguridad</b>
        <b>Emprendimiento</b>
        <b>Rapidez</b>
        <b>Honestidad</b>
        <b>Profesionalismo</b>
        <b>Servicio</b>
        <b>Transparencia</b>
        
      </span>
    </h2>
    </div>
  </div>

 <div id="quienes_somos" class="section scrollspy">
  <div class="container">
      <!--   Icon Section   -->
    <div class="row">
          <div  class="col s12">
            <h2 class="center header text_h2 "><span class="span_h2 red-text text-deep-red"> Crece Prestaciones </span>es una empresa que tiene como objetivo otorgar servicios financieros a todas las personas que lo necesiten y que tengan la seguridad de un empleo.
          </div>
    </div>
  
    <div class="row"  >
            <div  class="col s12  card-panel">
              <div class="center promo promo-example">
                 <i class="large material-icons" align="center">insert_chart</i>
                <h2 class="promo-caption"> <span class="span_h2 red-text text-red accent-3"> Antecedentes:</h2>
                <p class="light center flow-text">
                  En México, acceder a los servicios financieros, se puede volver un problema por distintas razones:
                  <ul>
                    <li><p class="flow-text">* Poca accesibilidad a las instituciones financieras.</p></li>
                    <li><p class="flow-text">* Falta de conocimiento de los productos que se ofrecen.</p></li>
                    <li><p class="flow-text">* Las instituciones se niegan a otorgarles los servicios.</p></li>
                    <li><p class="flow-text">* Las instituciones no confían en este sector de la población.</p></li>
                    <li><p class="flow-text">* Falta de cultura y desconfianza de las personas hacia las instituciones financieras.</p></li>
                    <li><p class="flow-text">* La banca no tiene la capacidad para atender dicho sector.</p></li>
                    <li><p class="flow-text">* Las instituciones financieras cuentan con una estructura rígida.</p></li>
                  </ul>
                </p>
              </div>
            </div>
    </div>
    <div class="row">
            <div class="col s12 m6 l6">
              <div class="center promo promo-example">
                <h5 class="promo-caption">Misión</h5>
                <i class="large material-icons">call_made</i>
                <p class="light center flow-text">Proveer de recursos monetarios a nuestros clientes para satisfacer sus necesidades a través de un servicio excelente, rápida respuesta y sin trámites complicados.</p>
              </div>
            </div>
            <div class="col s12 m6 l6">
              <div class="center promo promo-example">
               <h5 class="promo-caption">Visión</h5>
               <i class="large material-icons">visibility</i>
                <p class="light center flow-text">Ser la primera opción de crédito para el cliente.</p>
              </div>
            </div>
      </div>
<div class="section scrollspy card-panel" id="row">
  
  <h2 class="header text_b"> <span class="span_h2 red-text text-deep-red">Sucursales </h2>

  <div class="row" >
        <div  class="col s12 m4 l4">
          <div class="center promo promo-example">
            <i class="mdi-action-favorite"></i>
            <h5 class="promo-caption">Zona Norte</h5>
            <p class="light center">
            <li>Los Mochis, Sin.</li> 
            <li>Guasave, Sin.</li> 
            <li>El Fuerte, Sin.</li> 
            
          </div>
        </div>
        <div class="col s12 m4 l4">
          <div class="center promo promo-example">
            <i class="mdi-communication-phone"></i>
            <h5 class="promo-caption">Zona Centro</h5>
            <p class="light center">
            <li>Guamúchil, Sin.</li> 
            <li>Navolato, Sin.</li> 
            <li>Culiacán, Sin.</li> 
            
          </div>
        </div>
        <div class="col s12 m4 l4">
          <div class="center promo promo-example">
            <i class="mdi-communication-stay-current-portrait"></i>
           <h5 class="promo-caption">Zona Sur</h5>
            <p class="light center">
            <li><a class="black-text" href="https://www.youtube.com/">Costa Rica CLN, Sin.</a></li> 
            <li> <a class="black-text" href="http://marjor-luisesh11.c9users.io/">Mazatlán, Sin.</a></li> 
            <li>El Rosario, Sin.</li> 
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="" id="work">
 <div class="container">
        <h2 class="header text_b"> <span class="span_h2 red-text text-deep-red">Principios </h2>
      <div class="card-panel row">
        <ul class="staggered-test">
          <li>
            <div class="col s12 m6 l6">
              <h4>TRANSPARENCIA</h4>
              <p class="flow-text">Lo más importante para nosotros es mantener una relación sana y a largo plazo con los clientes, siendo congruentes en el actuar y el operar de la empresa.</p>
            </div>
          </li>
          <li>
            <div class="col s12 m6 l6">
              <h4>HONESTIDAD</h4>
              <p class="flow-text">Siempre vamos a actuar de acuerdo a la verdad y a los valores éticos humanos y de la empresa.</p>
            </div>
          </li>
        </ul>
      </div>
      <div class="card-panel row">
        <ul class="staggered-test">
          <li>
            <div class="col s12 m6 l6">
              <h4>SERVICIO</h4>
              <p class="flow-text">Dar respuesta en tiempo y forma a los compromisos que se tienen con los clientes.</p>
            </div>
          </li>
          <li>
            <div class="col s12 m6 l6">
              <h4>PROFESIONALISMO</h4>
              <p class="flow-text">Estar totalmente enfocados en mejorar continuamente la calidad que se tiene al desarrollar las labores de la empresa.</p>
            </div>
          </li>
        </ul>
        </div>
      </div>
    </div>
 </div>
 
