

  <div class="section no-pad-bot deep-orange  " id="index-banner">
    <div class="container ">
      
      <p class="flow-text">
      <h2 class="text_h center header cd-headline letters type ">
      <span class="deep-orange">Marjo es:</span> 
      <span class="cd-words-wrapper waiting">
        <b class="is-visible">Confiable</b>
        <b>Seguridad</b>
        <b>Emprendimiento</b>
        <b>Rapidez</b>
        <b>Honestidad</b>
        <b>Profesionalismo</b>
        <b>Servicio</b>
        <b>Transparencia</b>
        
      </span>
    </h2>
    </div>
  </div>

 <div id="quienes_somos" class="section scrollspy">
  <div class="container">
      <!--   Icon Section   -->
    <div class="row">
          <div  class="col s12">
            <h2 class="center header text_h2 ">Financiera  <span class="span_h2 orange-text text-deep-orange">MARJO </span>es una empresa que tiene como objetivo otorgar servicios financieros a todas las personas que lo necesiten y que tengan la seguridad de un empleo.
          </div>
    </div>
    <div class="row"  >
            <div  class="col s12">
              <div class="center promo promo-example">
                 <i class="large material-icons">insert_chart</i>
                <h2 class="promo-caption"> <span class="span_h2 orange-text text-orange accent-3"> Antecedentes:</h2>
                <p class="light center">
                  En México, acceder a los servicios financieros, se puede volver un problema por distintas razones:
                  <ul>
                    <li>* Poca accesibilidad a las instituciones financieras.</li>
                    <li>* Falta de conocimiento de los productos que se ofrecen.</li>
                    <li>* Las instituciones se niegan a otorgarles los servicios.</li>
                    <li>* Las instituciones no confían en este sector de la población.</li>
                    <li>* Falta de cultura y desconfianza de las personas hacia las instituciones financieras.</li>
                    <li>* La banca no tiene la capacidad para atender dicho sector.</li>
                    <li>* Las instituciones financieras cuentan con una estructura rígida.</li>
                  </ul>
                </p>
              </div>
            </div>
    </div>
    <div class="row">
            <div class="col s12 m6 l6">
              <div class="center promo promo-example">
                <h5 class="promo-caption">Misión</h5>
                <i class="large material-icons">call_made</i>
                <p class="light center">Proveer de recursos monetarios a nuestros clientes para satisfacer sus necesidades a través de un servicio excelente, rápida respuesta y sin trámites complicados.</p>
              </div>
            </div>
            <div class="col s12 m6 l6">
              <div class="center promo promo-example">
               <h5 class="promo-caption">Visión</h5>
               <i class="large material-icons">visibility</i>
                <p class="light center">Ser la primera opción de crédito para el cliente.</p>
              </div>
            </div>
      </div>
<div class="section scrollspy" id="row">
  
  <h2 class="header text_b"> <span class="span_h2 orange-text text-deep-orange">Sucursales </h2>

  <div class="row" >
        <div  class="col s12 m4 l4">
          <div class="center promo promo-example">
            <i class="mdi-action-favorite"></i>
            <h5 class="promo-caption">Zona Norte</h5>
            <p class="light center">
            <li>Los Mochis, Sin.</li> 
            <li>Guasave, Sin.</li> 
            <li>El Fuerte, Sin.</li> 
            
          </div>
        </div>
        <div class="col s12 m4 l4">
          <div class="center promo promo-example">
            <i class="mdi-communication-phone"></i>
            <h5 class="promo-caption">Zona Centro</h5>
            <p class="light center">
            <li>Guamúchil, Sin.</li> 
            <li>Navolato, Sin.</li> 
            <li>Culiacán, Sin.</li> 
            
          </div>
        </div>
        <div class="col s12 m4 l4">
          <div class="center promo promo-example">
            <i class="mdi-communication-stay-current-portrait"></i>
           <h5 class="promo-caption">Zona Sur</h5>
            <p class="light center">
            <li><a class="black-text" href="https://www.youtube.com/">Costa Rica CLN, Sin.</li> 
            <li> <a class="black-text" href="http://marjor-luisesh11.c9users.io/">Mazatlán, Sin.</li> 
            <li>El Rosario, Sin.</li> 
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="section scrollspy" id="work">
 <div class="container">
        <h2 class="header text_b"> <span class="span_h2 orange-text text-deep-orange">Principios </h2>
      <div class="row">
           <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="images/office.jpg">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
              <p>Here is some more information about this product that is only revealed once clicked on.</p>
            </div>
          </div>
        </div>
         <div class="row">
          <div class="col s12 m4 l4">
               <div class="card">
                  <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="img/04.jpg">
                  </div>
                  <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4"><p class="flow-text">PROFESIONALISMO</p> <i class="mdi-navigation-more-vert right"></i></span>
                     
                  </div>
                  <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4"><p class="flow-text">PROFESIONALISMO</p><i class="mdi-navigation-close right"></i></span>
                    <p>Estar totalmente enfocados en mejorar continuamente la calidad que se tiene al desarrollar las labores de la empresa.</p>
                  </div>
              </div>
          </div>

          <div class="col s12 m4 l4">
               <div class="card">
                  <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator"  src="img/05.jpg">
                  </div>
                  <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4"><p class="flow-text">ESPACIO BLANCO</p> <i class="mdi-navigation-more-vert right"></i></span>
                     
                  </div>
                  <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4"><p class="flow-text">ESPACIO BLANCO</p> <i class="mdi-navigation-close right"></i></span>
                    <p> ESPACIO BLANCO</p>
                  </div>
              </div>
          </div>

          <div class="col s12 m4 l4">
               <div class="card">
                  <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator"  src="img/03.jpg">
                  </div>
                  <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4"><p class="flow-text">ESPACIO BLANCO</p><i class="mdi-navigation-more-vert right"></i></span>
                     
                  </div>
                  <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4"><p class="flow-text">ESPACIO BLANCO</p><i class="mdi-navigation-close right"></i></span>
                    <p>ESPACIO BLANCO</p>
                   
                  </div>
              </div>
          </div>
        </div>
     </div>
  </div>
     </div>
  </div>

</div>


</html>
