<p id="notice"><%= notice %></p>

<h2 align="center">SOLICITUDES DE CREDITOS POR ACEPTAR</h2>
<style>
  td{
    padding:5px 5px; 
  }
</style >
<table style="font-size:12px;">
  <thead>
    <tr>
      <th>AGENTE/EMPRESA</th>
      <th>SUCURSAL</th>
      <th>FECHA</th>
      <th>NOMBRE</th>
      <th>RFC</th>
      <th>MONTO</th>
      <th>CREACION</th>
      <th colspan="4"></th>
    </tr>
  </thead>


  <tbody>
   
  </tbody>
</table>

<br>

<%= link_to 'Nueva solicitud', new_credit_path, class:"crud-links" %>
