<div ng-controller="payment">
  <h1 align="center">Pagos</h1>

     <div class = "row">
         <div class = "col s12 m6 l4">
    
             <select class="browser-default" ng-model="data.sucursales.repeatSelect" ng-change="cargarHijos()">
                 <option value="" selected>Sucursales</option>
                <option ng-repeat="option in sucursales" value="{{option.id}}">{{option.nombre}}</option>
            </select>
              
              </br>
                   <p>
                      <input name="group1" type="radio" id="test1" value =1 ng-model= "agente_empresa" ng-change="cargarHijos()"/>
                      <label for="test1">Agente</label>
                    </p>
                    <p>
                      <input name="group1" type="radio" id="test2"  value =2  ng-model= "agente_empresa" ng-change="cargarHijos()"/>
                      <label for="test2">Empresa</label>
                    </p>
                 <select  class="browser-default" ng-model="select_op.repeatSelect">
                    <option value="" selected>{{tipo}}</option>
                    <option ng-repeat="option in hijos" value="{{option.id}}">{{option.clave}}</option>
                </select>
                  </br>
                <select  class="browser-default" ng-model="product_select">
                  <option value="" selected>Productos</option>
                  <option ng-repeat="option in productos" value="{{option.id}}">{{option.nombre_del_producto}}</option>
                </select>
                </br>
         </div>
        <div class= "col s12 m6 l6 "></div>
             <table class="striped" >
                <thead>
                  <tr>
                      <th data-field="Nombre">Nombre</th>
                      <th data-field="Monto">Monto</th>
                      <th data-field="price"></th>
                  </tr>
                </thead>
        
                <tbody>
                  <tr ng-repeat = "ele in creditos">
                    <td>{{ele.nombre_completo_deudor}}</td>
                    <td>{{ele.monto_solicitud_formato}}</td>
                    <td><a class="waves-effect waves-light btn" ng-click="" href= "/payments/show?clave={{ele.id}}" >Ver</a></td>
                  </tr>
                </tbody>
              </table>
        </div>
</div>