@import "materialize/components/color";
$primary-color: color("red", "lighten-2") !default;
@import 'materialize';
@import "*";
@import "materialize/extras/nouislider";

  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }