
<div ng-controller="recibos">
     <div class = "row">
       <h1 align="center">Generar Recibos</h1>
         <div class = "col s12 m6 l4">
              <label>
                Sucursales
              </label>
             <select class="browser-default" ng-model="sucursales.selected" ng-change="cargarHijos()">
                 <option value="" selected>Sucursales</option>
                <option ng-repeat="option in sucursales" value="{{option.id}}">{{option.nombre}}</option>
            </select>
              <label>
                Seleciona...
              </label>
              </br>
                   <p>
                      <input name="group1" type="radio" id="test1" value =1 ng-model= "agente_empresa" ng-change="cargarHijos()"/>
                      <label for="test1">Agente</label>
                    </p>
                    <p>
                      <input name="group1" type="radio" id="test2"  value =0  ng-model= "agente_empresa" ng-change="cargarHijos()"/>
                      <label for="test2">Empresa</label>
                    </p>
                 
                 <label>
                   Empresa o agente
                 </label>
                 <select  class="browser-default" ng-model="hijos.selected">
                    <option value="" selected>{{tipo}}</option>
                    <option ng-repeat="option in hijos" value="{{option}}">{{option.clave}}</option>
                </select>
                  </br>
                  <label>
                    Productos
                  </label>
                <select  class="browser-default" ng-model="productos.selected" ng-change = "obtenerFechas()" >
                  <option value="" selected>Productos</option>
                  <option ng-repeat="option in productos" value="{{option.id}}">{{option.nombre_del_producto}}</option>
                </select>
                </br>
                <label>
                  Fechas de impresion
                </label>
                <select  class="browser-default" ng-model="fechas_de_impresion">
                  <option value="" selected>Fechas</option>
                  <option ng-repeat="option in fechas" value="{{option.id}}">{{option.fecha_de_impresion}}</option>
                </select>
         </div>
         
        <div class= "col s12 m6 l6 "></div>
         <a class="waves-effect waves-light btn" ng-click="agregar(hijos.selected)">Agregar</a>
             <table class="striped" >
                <thead>
                  <tr>
                      <th data-field="Tipo">Agente o Empresa</th>
                      <th data-field="price">Clave</th>
                      <th data-field="price"></th>
                  </tr>
                </thead>
        
                <tbody>
                  <tr ng-repeat = "ele in seleccionados">
                    <td>{{ele.tipo==1 ?"Agente":"Empresa"}}</td>
                    <td>{{ele.padre.clave}}</td>
                    <td><a class="waves-effect waves-light btn" ng-click="eliminar($index)">Eliminar</a></td>
                  </tr>
                </tbody>
              </table>
        </div>
     <a class="waves-effect waves-light btn" ng-click="generar()">Generar</a>
     
     
      <div class= "col s12 m6 l6 " id="fake">
             <table class="striped" >
                <thead>
                  <tr>
                      <th>Empresa</th>
                      <th>Fecha Pago</th>
                      <th>Nombre Cliente</th>
                      <th>Cantidad a pagar</th>
                      <th>Fecha de credito</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>7687 6878 687678 687</td>
                    <td>10000.0</td>
                     <td>sauceda</td>
                  </tr>
                </tbody>
              </table>
              <a class="waves-effect waves-light btn" href="https://marjor-luisesh11.c9users.io/view_credits/poliza?clave=6" target="_blank">Imprimir</a>
            </div>
        </div>
</div>
