
<div ng-controller="recibos">
     <div class = "row">
       <h2 align="center">GENERAR RECIBOS</h2>
         <div class = "col s12 m6 l4">
              <label>
                SUCURSALES
              </label>
             <select class="browser-default" ng-model="sucursales.selected" ng-change="cargarHijos()">
                 <option value="" selected>Sucursales</option>
                <option ng-repeat="option in sucursales" value="{{option.id}}">{{option.nombre}}</option>
            </select>
              <label>
                Seleciona...
              </label>
              </br>
                   <p>
                      <input name="group1" type="radio" id="test1" value =1 ng-model= "agente_empresa" ng-change="cargarHijos()"/>
                      <label for="test1">Agente</label>
                    </p>
                    <p>
                      <input name="group1" type="radio" id="test2"  value =0  ng-model= "agente_empresa" ng-change="cargarHijos()"/>
                      <label for="test2">Empresa</label>
                    </p>
                 
                 <label>
                   EMPRESA O AGENTE
                 </label>
                 <select  class="browser-default" ng-model="hijos.selected">
                    <option value="" selected>{{tipo}}</option>
                    <option ng-repeat="option in hijos" value="{{option}}">{{option.nombre_completo}}</option>
                </select>
                  </br>
                  <label>
                    PRODUCTOS
                  </label>
                <select  class="browser-default" ng-model="productos.selected" ng-change = "obtenerFechas()" >
                  <option value="" selected>Productos</option>
                  <option ng-repeat="option in productos" value="{{option.id}}">{{option.nombre_del_producto}}</option>
                </select>
                </br>
                <label>
                  FECHAS DE IMPRESION
                </label>
                <select  class="browser-default" ng-model="fechas.selected">
                  <option value="" selected>Fechas</option>
                  <option ng-repeat="option in fechas" value="{{option.fecha_de_impresion}}">{{option.fecha_de_impresion}}</option>
                </select>
              <br>
              <a class="waves-effect waves-light btn" ng-click="agregar(hijos.selected)">Agregar</a>
         </div>
         
        <div class= "col s12 m6 l6 "></div>
         
             <table class="striped" >
                <thead>
                  <tr>
                      <th data-field="Tipo">AGENTE O EMPRESA</th>
                      <th data-field="price">CLAVE</th>
                      <th data-field="price"></th>
                  </tr>
                </thead>
        
                <tbody>
                  <tr ng-repeat = "ele in seleccionados">
                    <td>{{ele.tipo==1 ?"Agente":"Empresa"}}</td>
                    <td>{{ele.clave}}</td>
                    <td><a class="waves-effect waves-light btn" ng-click="eliminar($index)">Eliminar</a></td>
                  </tr>
                </tbody>
              </table>
        </div>
     <a class="waves-effect waves-light btn" ng-click="obtenerPayments()">Generar</a>
     
     
      <div class= "col s12 m6 l6 ">
             <table class="striped" >
                <thead>
                  <tr>
                      <th>EMPRESA</th>
                      <th>FECHA PAGO</th>
                      <th>NOMBRE CLIENTE</th>
                      <th>CANTIDAD A PAGAR</th>
                      <th>FECHA DE CREDITO</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat = "pago in pagos">
                    <td>{{pago.cliente}}</td>
                    <td>{{pago.fecha_de_pago_formato}}</td>
                    <td>{{pago.credit_nombre}}</td>
                    <td>{{pago.importe_formato}}</td>
                    <td>{{pago.fecha_de_contrato_formato}}</td>
                  </tr>
                </tbody>
              </table>
              <a class="waves-effect waves-light btn" href="/multiprint?payments={{pagos}}" target="_blank">Imprimir</a>
            </div>
        </div>
</div>
