<h1>Manual del Usuario</h1>
  <embed width="440" height="420" type="application/x-shockwave-flash" 
    src="http://v9.tinypic.com/player.swf?file=2cgzybn&s=9">
    <br> <font size="1">
    <a href="http://es.tinypic.com/player.php?v=2cgzybn&s=9">Original Video </a> 
    - More videos at <a href="http://tinypic.com">TinyPic</a></font>
<p></p>
