<div ng-controller="payouts">
  <div class = "row">
    <h4>Nombre: </h4> <input type="text" ng-model="nombre">
    <h4>Periocidad: </h4> <input type="text" ng-model="periocidad">
  </div>
  <div class="row">
    <div class="col s3 m3 l3">
      <p class="center-align">
        <input name="group1" type="radio" id="test1" ng-change="cambio_de_tipo()" value= 0  ng-model="tipo"/>
        <label for="test1">Semana</label>
      </p>
    </div>
    <div class="col s3 m3 l3">
      <p class="center-align">
        <input name="group1" type="radio" id="test2" ng-change="cambio_de_tipo()" value= 1 ng-model="tipo"/>
        <label for="test2">Mes</label>
      </p>
    </div>
    <div class="col s3 m3 l3">
      <p class="center-align">
        <input name="group1" type="radio" id="test3" ng-change="cambio_de_tipo()" value= 2 ng-model="tipo"/>
        <label for="test3">Año</label>
      </p>
    </div>
  </div> 
  <div class="row">
    <div class = "col  s12 m12 l10">
      <table id="mes" >
        <thead>
          <th>L</th>
          <th>M</th>
          <th>M</th>
          <th>J</th>
          <th>V</th>
          <th>S</th>
          <th>D</th>
        </thead>
        <tbody>
          <tr>
            <td ng-repeat="n in [0,1,2,3,4,5,6]">
              <div>
                  <div class="card-panel {{getColor(mes,n)}}" ng-click = "cambiosMes(n)">
                    {{n+1}}
                  </div>
              </div>
            </td>
          </tr>
           <tr>
            <td ng-repeat="n in [7,8,9,10,11,12,13]">
              <div>
                 <div class="card-panel {{getColor(mes,n)}}" ng-click = "cambiosMes(n)">
                    {{n+1}}
                 </div>
              </div>
            </td>
          </tr>
          <tr>
            <td ng-repeat="n in [14,15,16,17,18,19,20]">
              <div>
                 <div class="card-panel {{getColor(mes,n)}}" ng-click = "cambiosMes(n)">
                    {{n+1}}
                  </div>
              </div>
            </td>
          </tr>
          <tr>
            <td ng-repeat="n in [21,22,23,24,25,26,27]">
              <div>
                 <div class="card-panel {{getColor(mes,n)}}" ng-click = "cambiosMes(n)">
                    {{n+1}}
                 </div>
              </div>
            </td>
          </tr>
          <tr>
            <td>
             <div>
                <div class="card-panel {{getColorFinDeMes()}}" ng-click = "finDeMes()">
                   Fin de mes
                </div>
            </div>
           </td>
          </tr>
        </tbody>
      </table>
      <table id="semana" >
        <thead>
          <th>L</th>
          <th>M</th>
          <th>M</th>
          <th>J</th>
          <th>V</th>
          <th>S</th>
          <th>D</th>
        </thead>
        <tbody>
          <tr>
            <td ng-repeat="n in semana track by $index">
              <div>
                <div class="card-panel {{getColor(semana,$index)}}" ng-click = "cambiosSemana($index)">
                  {{$index+1}}
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <table id="ano" >
        <thead>
          <th colspan=6 class="center-align"><h5>Meses del año </h5></th>
        </thead>
        <tbody>
          <tr>
            <td ng-repeat="n in [0,1,2,3,4,5]">
              <div>
                <div class="card-panel {{getColor(ano,n)}}" ng-click = "cambiosAno(n)">
                    {{n+1}}
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td ng-repeat="n in [6,7,8,9,10,11]">
              <div>
                 <div class="card-panel {{getColor(ano,n)}}" ng-click = "cambiosAno(n)">
                    {{n+1}}
                 </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class = "col s12 m12 l2">
      <div class = "card-panel">
        <p>
          <input type="checkbox" id="corte" ng-model="corte_flag" />
          <label for="corte">Fecha de corte</label>
        </p>
        tipo: {{tipo==0?"Semanal":tipo==1?"Mensual":"Anual"}}
        <a class="waves-effect waves-light btn" ng-click ="guardar();">Guardar</a>
      </div>
    </div>
  </div>
  
</div>