  <div class = "row">
       <h1 align="center">Generar Reporte</h1>
         <div class = "col s12 m6 l4">
             <form action="/reports/clientes.xlsx" method="get">
                  <label>
                    Sucursales
                  </label>
                 <select class="browser-default" name="sucursal">
                    <option value="" selected>Todas</option>
                    <%BranchOffice.all.each do |sucursal| %>
                        <option value=<%=sucursal.id%>><%=sucursal.nombre%></option>
                    <%end%>
                </select>
                 <input type="submit" class="waves-effect waves-light btn" value="Descargar">
             </form>
               
            </div>
    </div>
