
<div ng-controller="recibos">
     <div class = "row">
       <h1 align="center">REPORTE DTKTA</h1>
         
          
                <a  align="center" ng-click="descargar_dtkta()" class="waves-effect waves-light btn">Imprimir reporte de clientes</a>
            </div>
    </div>
</div>
