
     <div class = "row">
       <h1 align="center">REPORTE DTKTA</h1>
         <div class = "col s12 m6 l4">
             <form action="/reports/dtkta.xlsx" method="get">
                 
               <label>
                  Fechas de impresion
                </label>
                
                
                <input type="date" name="fecha"></input></BR>
                 <a class="waves-effect waves-light btn" ng-click="descargar_dtkta()">Generar</a>
             </form>
               
            </div>
    </div>
