<div ng-controller="payment">
  <h2 align="center">REPORTE DE PAGOS</h2>

     <div class = "row">
         <div class = "col s12 m6 l4">
    
             <select class="browser-default" ng-model="data.sucursales.repeatSelect" ng-change="cargarHijos()">
                 <option value="" selected>Sucursales</option>
                <option ng-repeat="option in sucursales" value="{{option.id}}">{{option.nombre}}</option>
            </select>
              
              </br>
                   <p>
                      <input name="group1" type="radio" id="test1" value =1 ng-model= "agente_empresa" ng-change="cargarHijos()"/>
                      <label for="test1">Agente</label>
                    </p>
                    <p>
                      <input name="group1" type="radio" id="test2"  value =2  ng-model= "agente_empresa" ng-change="cargarHijos()"/>
                      <label for="test2">Empresa</label>
                    </p>
                 <select  class="browser-default" ng-model="select_op.repeatSelect">
                    <option value="" selected>{{tipo}}</option>
                    <option ng-repeat="option in hijos" value="{{option.id}}">{{option.nombre_completo}}</option>
                </select>
                </br>
                <a class="waves-effect waves-light btn" ng-click="filtrar_pagos_clientes()">Filtar</a>
              
         </div>
          <div class="col s12 m6 l6">
            NOMBRE: <input type="text" placeholder="INGRESE EL NOMBRE"ng-model="nombre1" ng-change="filtrar_pagos_clientes()">
            PATERNO: <input type="text" placeholder="APELLIDO PATERNO"ng-model="paterno" ng-change="filtrar_pagos_clientes()">
            MATERNO: <input type="text" placeholder="APELLIDO MATERNO"ng-model="materno" ng-change="filtrar_pagos_clientes()">
          </div>
        <div class= "col s12">
             <table style="font-size:12px;">
                <thead>
                  <tr>
                    <td>APELLIDO PATERNO</td>
                    <td>APELLIDO MATERNO</td>
                    <td>NOMBRES</td>
                    <td>SUCURSAL O EMPRESA</td>
                    <td># CREDITOS</td>
                    <th></th>
                  </tr>
                </thead>
              
                <tbody>
                    <tr ng-repeat="cliente in creditos">
                      <td>{{cliente.apellido_paterno}}</td>
                      <td>{{cliente.apellido_materno}}</td>
                      <td>{{cliente.nombres}}</td>
                      <td>{{cliente.agente_empresa_nombre}}</td>
                      <td>{{cliente.numero_de_creditos}}</td>
                      <td><a href="/customers/{{cliente.id}}/historial?op=1" target="_blank" class="waves-effect waves-light btn">Ver pagos</a></td>
                    </tr>
                </tbody>
              </table>
        </div>
</div>