<!DOCTYPE html>
<html ng-app ="app_marjo">
<head>
  <title>Workspace</title>
  
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>

  
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script>
    angular.module("app_marjo",[])
    .controller("codigo",["$scope","$http",function($scope,$http){
        $scope.codigo;
        $scope.municipio;
        $scope.estado;
        $scope.colonias=[];
        $scope.localidades=[];
        $scope.type= function(){
            $http.get("https://sepomex-api.herokuapp.com/api/v1/zip_codes?zip_code="+$scope.codigo)
    		.success(function(data){
    		  $scope.municipio=data.zip_codes[0].d_mnpio;
    		  $scope.estado =data.zip_codes[0].d_estado;
    		  $scope.colonias=[];
          $scope.localidades=[];
    			for (var x=0;data.zip_codes.length;x++){
      			$scope.colonias.push(data.zip_codes[x].d_asenta);
      			console.log("asenta"+data.zip_codes[x].d_asenta);
      			console.log("localidad"+data.zip_codes[x].d_ciudad);
            $scope.localidades.push(data.zip_codes[x].d_ciudad);
            console.log($scope.colonias);
      			console.log($scope.localidades);
    			}  
    				
    		})
    		.error(function(data){
    			console.log(data);
    		});    
        }
    }]);
  </script>
</head>
<body id="top" class="scrollspy">
  
  <div class="container"> 
    <%unless current_user.nil?%>
      <div class="card-panel">
        <h6 class="center-align">Usuario: <%=current_user.email%></h6>
      </div>
    <%end%>
  
    <%= yield %>
  </div>
</body>
</html>


