<!DOCTYPE html>
<html ng-app ="app_marjo">
<head>
  <title>Workspace</title>
  
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script>
  
    
    angular.module("app_marjo",[])
    .controller("solicitud",["$scope","$http","$location",function($scope,$http,$location){
    $scope.credito="";
    $scope.block=false;
    $scope.url = window.location.href;
    var longitud = $scope.url.split("/").length
    $('#autorelleno').hide();
    if (($scope.url.split("/")[longitud-1]==="edit")){
      console.log($scope.url.split("/",longitud-1).join("/")+".json");
      $http.get($scope.url.split("/",longitud-1).join("/")+".json")
      .success(function(data){
          $scope.credito=data;
          ajuste_credito();
          console.log( $scope.credito);
      })
      .error(function(data){
          console.log(data);
      });
    }
    function ajuste_credito(){
        $scope.credito.fecha_de_nacimiento = new Date($scope.credito.fecha_de_nacimiento.split("-")[0],$scope.credito.fecha_de_nacimiento.split("-")[1],$scope.credito.fecha_de_nacimiento.split("-")[2]);
          $scope.credito.fecha_de_nacimiento_conyuge = new Date($scope.credito.fecha_de_nacimiento_conyuge.split("-")[0],$scope.credito.fecha_de_nacimiento_conyuge.split("-")[1],$scope.credito.fecha_de_nacimiento_conyuge.split("-")[2]);
          $scope.credito.referencia_agenteEmpresa=$scope.credito.referencia_agenteEmpresa+"";
          $scope.credito.colonia=$scope.credito.colonia+"";
          $scope.credito.economical_activity_id=$scope.credito.economical_activity_id+"";
           $scope.credito.antiguedad_en_el_domicilio_actual_anos = $scope.credito.antiguedad_en_el_domicilio_actual_anos+"";
           $scope.credito.antiguedad_en_el_domicilio_actual_meses = $scope.credito.antiguedad_en_el_domicilio_actual_anos+"";
           $scope.credito.antiguedad_en_el_domicilio_anterior_anos = $scope.credito.antiguedad_en_el_domicilio_actual_anos+"";
           $scope.credito.antiguedad_en_el_domicilio_anterior_meses = $scope.credito.antiguedad_en_el_domicilio_actual_anos+"";
           $scope.agente_o_empresa();
          $scope.type();
    }
    $scope.rellenar=function(data){
      $('#autorelleno').hide();
      $scope.credito= data;
      
      console.log(data);
    }
    $scope.ocultar=function(){
      $('#autorelleno').hide();
    }
    $scope.focus_curp=function(){
      if ($scope.credito.es_cliente==1){
        $('#autorelleno').show();
        $('#curp_buscador').focus();
      }else
        $('#autorelleno').hide();
      console.log($scope.credito.es_cliente);
    }
    $scope.agente_o_empresa = function(){
      $scope.tipo="";
      $scope.agentEmp=[];
      if($scope.credito.agente_empresa==1)
      {
        $scope.tipo="Agente";
        $http.get("/agents.json")
        .success(function(data){
          for (var x=0;x<data.length;x++)
            $scope.agentEmp.push({id:data[x].id,nombre:data[x].nombre_del_agente});
          console.log($scope.agentEmp);
        })
        .error(function(data){
          console.log(data);
        });
      }else if ($scope.credito.agente_empresa==0){
        $scope.tipo="Empresa";
        $http.get("/companies.json")
        .success(function(data){
          for (var x=0;x<data.length;x++)
            $scope.agentEmp.push({id:data[x].id,nombre:data[x].nombre_de_empresa});
          console.log(data);
        })
        .error(function(data){
          console.log(data);
      });
      }
    }
   
    $scope.buscarCliente=function(val){
      var query="/customers.json?"
      if($scope.credito.CURP!=""&&$scope.credito.CURP!=null)
        query= query+"curp="+$scope.credito.CURP+"&";
      if($scope.credito.apellido_paterno!=""&&$scope.credito.apellido_paterno!=null)
        query= query+"paterno="+$scope.credito.apellido_paterno+"&";
      if($scope.credito.apellido_materno!=""&&$scope.credito.apellido_materno!=null)
        query= query+"materno="+$scope.credito.apellido_materno+"&";
      if($scope.credito.nombre_1!=""&&$scope.credito.nombre_1!=null)
        query= query+"nombre1="+$scope.credito.nombre_1+"&";
      if($scope.credito.nombre_2!=""&&$scope.credito.nombre_2!=null)
        query= query+"nombre2="+$scope.credito.nombre_2+"&";
      console.log(query);
      $http.get(query)
      .success(function(data){
        
        if (data.length!=0){
          $scope.clientes=data;
          $('#autorelleno').show();
        }else{
          if(val)
          $('#autorelleno').hide();
        }
        console.log(data);
      })
      .error(function(data){
        console.log(data);
      });
      
    }
    
        
        $scope.type= function(){
          $scope.colonias=[];
          $scope.localidades=[];
          $http.get("https://api-codigos-postales.herokuapp.com/v2/codigo_postal/"+ $scope.credito.codigo_postal)
    		.success(function(data){
    			console.log(data);
    			$scope.credito.estado_actual=data.estado;
    			$scope.credito.municipio=data.municipio;
    			$scope.colonias=data.colonias;
    			$scope.localidades.push(data.municipio);
    				
    		})
    		.error(function(data){
    			console.log(data);
    		});    
        }
   /* var fecha_part=$scope.fecha_de_nacimiento.split("-");
     $scope.fecha_de_nacimiento =new  Date(fecha_part[0],fecha_part[1],fecha_part[2]);
     */
     /*
        $scope.municipio;
        $scope.estado;
        $scope.colonias=[];
        $scope.localidades=[];
        
        
        $scope.type= function(){
        $http.get("https://sepomex-api.herokuapp.com/api/v1/zip_codes?zip_code="+ $scope.credito.codigo_postal)
    		.success(function(data){
    		  $scope.credito.municipio = data.zip_codes[0].d_mnpio;
    		  $scope.credito.estado = data.zip_codes[0].d_estado;
    		  
    		  $scope.colonias=[];
          $scope.localidades=[];
          $scope.localidades.push(data.zip_codes[0].d_ciudad);
    			for (var x=0;data.zip_codes.length;x++){
      			$scope.colonias.push(data.zip_codes[x].d_asenta);
    			} 
    			
    			/*
    			 var ret = [];
    			 var val = $scope.localidades;
    			 var flag = false;
    			 for (var x = 0;x < val.length;x++){
             for (var y = 0;y < ret.length;y++){
              if (!(val[x]===ret[y]))
                flag = true;
              }
              if (!flag)
                ret.push(val[x]);
            }
    			  $scope.localidades=[];
    			  $scope.localidades.push(ret);
    				alert("dfd");
    				console.log(ret);
    				*/
    				/*
    		})
    		.error(function(data){
    			console.log(data);
    		});    
        }
        function uniqValues(val){
          var ret = [];
          for (var x = 0;x < val.length;x++){
            if (exist(ret,val[x]))
              ret.push(val[x]);
          }
          return ret;
        }
        function exist(arg,val){
          for (var x = 0;x < arg.length;x++){
            if (arg[x]===val){
              return true;
            }
            return false;
          }
        }
       */
}]);
  </script>
</head>
<body id="top" class="scrollspy">
  
  <div class="container"> 
    <%unless current_user.nil?%>
      <div class="card-panel">
        <h6 class="center-align">Usuario: <%=current_user.email%></h6>
      </div>
    <%end%>
  
    <%= yield %>
  </div>
</body>
</html>


